/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

/*Header => Nav Bar"*/
header > div {
  padding-top: 3%;
}
h1, nav, nav > ul, nav > ul > li {
  display: inline;
}
nav > ul {
  left: 30%;
  position: relative;
}
nav > ul > li{
  list-style-type: none;
  padding: 1%;
}

/*Main*/
  /*Overview Hero => Section*/
  .overview-hero-image > img {
    float: left;
    height: 15%;
    width: 15%;
  }
  .overview-hero-text > h2, .overview-hero-text >p {
    padding-left: 25%;
  }
  /*Learn About => Section*/
  .learn-about {
    clear: both;
  }
  /*Testing => Section*/
  /*Stories => Section*/
  /*newsletter => Section*/

/*Footer*/
